* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #efeef5;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.ending {
  background-color: white;
}

.support,
.überuns,
.stationen {
  align-items: center;
}

header {
  background-color: rgba(255, 255, 255, 0.885);
  position: sticky;
  height: 100px;
  top: 0;
  z-index: 1;
}

body > header,
body > footer {
  flex: 0;
}

body > section {
  flex: 1;  
}

/* === START SECTION START === */

.menu_gesamt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  list-style: none;
  flex-wrap: wrap;
}

#logo_nav img {
  width: 100px;
  height: auto;
}

.nav_menu {
  display: flex;
  gap: 30px;
  margin: 30px;
}

.nav_menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

.nav_menu a:hover {
  color: #9592f0;
}

#logo_nav {
  width: 100px;
  height: 65px;
  justify-content: left;
}

article {
  background-color: #9592f0;
}

.video_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  height: 100vh;

  max-width: 80%;
  max-height: 60%;
  overflow: hidden;

  margin: auto;

  justify-content: center;
  align-items: center;
}

video {
  width: 80%;

  height: auto;

  display: block;
  border-radius: 10px;
}

main {
  background-color: #efeef5;
  color: #353547;
  margin: 5% 10% 6% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.start_links,
.start_rechts {
  display: flex;
  flex-direction: column;

  align-items: center;

  text-align: center;

  flex: 1;
}

.start_links img,
.start_rechts img {
  height: auto;
}

.start_rechts {
  align-items: center;
  margin-left: 20%;
}

.start_rechts a {
  margin-top: 20px;
}

.start_links img {
  width: 100%;
}

.start_rechts img {
  width: 75%;
}

.start_links button {
  background-color: #6863f2;
  color: white;
  margin-top: 30px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: 0.3s ease;
}

.start_links button:hover {
  cursor: pointer;
  color: #6863f2;
  background-color: #efeef5;
  border: 1px solid #6863f2;
}

#values {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  margin: 5% 10% 5% 10%;
  gap: 30px;
  flex-wrap: wrap;
}

#values div {
  flex: 1;
  gap: 20px;
}

#values img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  padding: 10px;
}

#values h1 {
  font-size: 30px;
  font-weight: 400;
}

#values a {
  display: block;
  margin-top: 20px;
  color: #353547;
}

#partner {
  background-color: #9592f0;

  padding: 5%;
}

.partner_img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.partner_img img {
  width: 18%;

  height: 120px;

  object-fit: contain;

  margin: 10px;
}

.shortcuts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 2.5%;
}

.newsletter img {
  width: 100px;
  margin-bottom: 10%;
}

#footer_logo {
  margin: 0%;
  width: 250px;
}

.login_form {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.login_form button {  
  background-color: #6863f2;
  color: white;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: 0.3s ease;
}

.login_form button:hover {
  cursor: pointer;
  color: #6863f2;
  background-color: #efeef5;
  border: 1px solid #6863f2;
}

#email {
  border-radius: 6px;
  border-style: none;
  border: 1px solid;
  border-color: gray;
  padding: 5px;
  padding-right: 100px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter a {
  width: 250px;
}

.supportüberunsstationen li {
  display: flex;
  list-style: none;
  flex-direction: column;
}

.support_alles {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
}

.supportüberunsstationen_überschrift {
  font-weight: 600;
  font-size: large;
}

.support a,
.überuns a,
.stationen a {
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

.support a:hover,
.überuns a:hover,
.stationen a:hover {
  text-decoration: underline;
}

.menu_ending{
  padding: 2%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  align-items: center;
  margin: 0% 2% 0% 2%;
}

.nav_ending a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  gap: 100px;
}

.nav_ending {
  display: flex;
  gap: 6%;
  width: 100%;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.socialmedia {
  justify-content: right;
  text-align: center;
  display: flex;
  gap: 10px;
}

/* === START SECTION END === */

/* === STATIONEN SECTION START === */

#stationen_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  gap: 20px;

  background-color: #efeef5;
}

#stationen_container h1 {
  font-size: 40px;
  text-wrap: wrap;
  text-align: center;
  font-weight: 300;
}

#stationen_container_button {
  display: flex;
  gap: 20%;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

#stationen_container button {
  background-color: #6863f2;
  color: white;
  padding: 18px;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: 0.3s ease;
  padding-left: 50px;
  padding-right: 50px;
}

#stationen_container button:hover {
  cursor: pointer;
  color: #6863f2;
  background-color: #efeef5;
  border: 1px solid #6863f2;
}

#abstellstationen_titel {
  background-color: #9592f0;
  color: white;
  align-items: center;
  text-align: center;
  padding: 5%;
  font-weight: 300;
  font-size: 80px;
}

.abstellstationen_grafik {
  background-color: #9592f0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 100%;
  height: 800px;
}

.stationen_map {
  width: 80%;
  height: 100%;
  background-image: url("img stationen/map.jpg");
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}

.stationen_map:hover {
  background-image: url("img stationen/satellit.jpg");
}

#abstellstationen_ende {
  background-color: #9592f0;
}

#abstellstationen_ende img {
  width: 100%;
  height: auto;
}

/* === STATIONEN SECTION END === */

/* === ABOUT SECTION START === */

#vision_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  gap: 20px;
  background-color: #efeef5;
}

#vision_container h1 {
  font-size: 40px;
  text-wrap: wrap;
  text-align: center;
  font-weight: 300;
}

#vision_container button {
  background-color: #efeef5;
  color: white;
  padding: 10px;
  border-radius: 70px;
  border: 1px solid #6863f2;
  transition: 0.3s ease;
  padding-left: 5%;
  padding-right: 5%;
}

#vision_container button:hover {
  cursor: pointer;
  color: #6863f2;
  background-color: #6863f2;
  border: 1px solid #6863f2;
}

#unser_team_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #9592f0;
  padding: 5%;
  flex-wrap: wrap;
}

#text_container {
  flex: 1;
}

#fotos_team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 200px;
  border: 0 solid;
}

/* Um die Karten im Abschnitt "Unser Team" zu positionieren */

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Horizontaler flip, wenn man mit der Maus über die Karte hovered */

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Positionierung der Vorder- und Rückseite */

.flip-card-vorne,
.flip-card-hinten {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Damit man nicht die Schrift hinter der Karte sieht */

/* Vorderseite Styling */

.flip-card-vorne {
  background-color: #6e5db6;
  color: black;
}

/* Rückseite Styling */

.flip-card-hinten {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

#text_container h1 {
  font-weight: lighter;
  color: white;
  font-size: 80px;
}

#das_sind_wir_container {
  text-align: center;
  padding: 7% 20%;
}

#das_sind_wir_container h1 {
  font-weight: lighter;
  font-size: 80px;
  margin-bottom: 3%;
}

#das_sind_wir_container p {
  font-size: 20px;
}

#wie_alles_begann_container {
  display: flex;
  align-items: center;
  padding-left: 5%;
  background-color: #9592f0;
  gap: 5%;
}

#wie_alles_begann_skizzen {
  align-items: center;
  width: 100%;
}

#wie_alles_begann_skizzen img {
  height: 1000px;
  object-fit: cover;
  display: block;
  max-width: 100%;
}

#wie_alles_begann_text {
  color: white;
  text-align: left;
  width: 100%;
}

#wie_alles_begann_text h1 {
  font-weight: lighter;
  color: white;
  font-size: 80px;
  margin-bottom: 3%;
}

#wie_alles_begann_text p {
  font-size: 20px;
}

#wie_alles_begann_container_beige {
  display: flex;
  align-items: center;
  padding-left: 5%;
  gap: 5%;
}

#container_foto_prozess img {
  height: auto;
  width: 100%;
  object-fit: cover;
  display: block;
}

#text_prozess {
  text-align: left;
  width: 100%;
  font-size: 20px;
}

#unsere_werte_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9592f0;
  padding: 5%;
  flex-wrap: wrap;
}

#unsere_werte_titel {
  text-align: center;
}

#unsere_werte_titel h1 {
  font-weight: lighter;
  color: white;
  font-size: 80px;
  text-align: center;
  margin-bottom: 12%;
}

#unsere_werte_text_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 1 fraction (= Unterteilung) wird 3 Mal wiederholt */
  gap: 100px;
  /* Abstand zwischen den texten */
  justify-items: center;
  padding: 10px;
}

.werte_text h1 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: white;
  margin-bottom: 2%;
}

.werte_text p {
  color: white;
  text-align: center;
}

/* === ABOUT SECTION END === */

/* === KONTAKT SECTION START === */

#html_kontakt,
#body_kontakt {
  background-color: #efeef5;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#body_kontakt > header {
  flex: 0;
}

#body_kontakt > section {
  flex: 1;
}

.Eingabefelder input,
.Eingabefelder textarea {
  border-radius: 3px;
  border: solid 1px;
  border-color: #353547;
  padding: 10px;
}

.Fragen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Fragen img {
  width: 200px;
  height: auto;
  padding: 0px;
  margin-bottom: 30px;
}

.Fragen a {
  margin-top: 50px;
  font-size: 30px;
}

.Fragen h1 {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 50px;
}

.Eingabefelder {
  justify-content: center;
  display: grid;
  align-items: center;
  gap: 10px;
}

#Vorname {
  grid-column-start: 1;
  grid-column-end: 3;
}

#Nachname {
  grid-column-start: 3;
  grid-column-end: 5;
}

#Mailadresse {
  grid-column-start: 1;
  grid-column-end: 3;
}

#Telefonnummer {
  grid-column-start: 3;
  grid-column-end: 5;
}

#Betreff {
  grid-column-start: 1;
  grid-column-end: 5;
}

#Nachricht {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
  height: 55px;
  resize: none;
  font-family: sans-serif;
}

#Button {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
  background-color: #6863f2;
  color: white;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: 0.3s ease;
  transform: rotate(90deg);
}

#Button a {
  text-decoration: none;
  color: white;
}

#Button:hover {
  cursor: pointer;
  color: #6863f2;
  background-color: #efeef5;
  border: 1px solid #6863f2;
}

#Button:hover a {
  color: #6863f2;
  transition: 0.3s ease;
}

/* === KONTAKT SECTION END === */

/* === KONTAKT DANKE START === */

.kontakt_danke {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10%;
  gap: 20px;
  background-color: #efeef5;
}

.kontakt_danke h1 {
  font-size: 40px;
  text-wrap: wrap;
  text-align: center;
  font-weight: 300;
}

.kontakt_danke button {
  background-color: #6863f2;
  color: white;
  padding: 18px;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: 0.3s ease;
  padding-left: 50px;
  padding-right: 50px;
}

.kontakt_danke button a {
  text-decoration: none;
  color: white;
}

.kontakt_danke button:hover {
  cursor: pointer;
  color: #6863f2;
  background-color: #efeef5;
  border: 1px solid #6863f2;
}

.kontakt_danke button:hover a {
  color: #6863f2;
  transition: 0.3s ease;
}

/* === KONTAKT DANKE END === */

/* === Media Queries Start === */
/* === max-width: 1000px === */
@media (max-width: 1000px) {
  #wie_alles_begann_container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 5%;
    background-color: #9592f0;
    gap: 5%;
    flex-wrap: wrap;
  }

  #wie_alles_begann_text {
    text-align: center;
    padding-bottom: 5%;
  }

  #wie_alles_begann_skizzen {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #text_container h1 {
    font-weight: lighter;
    color: white;
    font-size: 80px;
    justify-content: center;
    display: flex;
  }

  .umweltfreundlich {
    overflow-wrap: break-word; /* Wort wird am Rand umgebrochen */
    hyphens: auto; /* Automatische Silbentrennung (falls unterstützt) */
  }
}

/* === max-width: 768px === */
@media (max-width: 768px) {
  /* header */
  .nav_menu {
    flex-direction: column;
    gap: 5px;
    margin: 0;
  }

  .nav_menu a {
    font-size: 0.8rem;
    max-width: 5rem; 
    white-space: normal; 
    word-break: break-word; 
  }

  /* home */
  .start_links,
  .start_rechts {
    flex-direction: column;
    margin: 0;
  }
  
  .video_container {
    height: 70vh;
  }

  .video_container video {
    width: 100%;
  }

  #values {
    margin: 5% 20% 5% 20%;
    gap: 50px;
  }

  #values h1 {
    font-size: 25px;
  }

  /* stationen */
  .abstellstationen_grafik {
    height: 400px;
  }

  #abstellstationen_titel {
    font-size: 40px;
  }

  /* über uns */
  #vision_container h1 {
    font-size: 1.5rem;
  }

  #vision_container p {
    font-size: 1rem;
  }

  #text_prozess {
    padding: 0 0 5% 0;
    text-align: center;
  }

  #das_sind_wir_container {
    padding: 5%;
  }

  #wie_alles_begann_text h1 {
    font-weight: lighter;
    color: white;
    font-size: 80px;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
  }

  #wie_alles_begann_container_beige {
    display: block;
    align-items: center;
    padding: 5%;
    gap: 5%;
  }

  #fotos_team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* kontakt */


  /* newsletter & footer */
  .newsletter a{
    justify-content: center;
    width: 250px;
    display: flex;
    align-items: center;
  }

  .newsletter {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }

  .nav_ending{
    justify-content: center;
  }
  
  .shortcuts {
    display: block;
    margin: 5%;
  }

  .support_alles {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .supportüberunsstationen {
    display: flex;
    justify-content: center;
  }

  .ending {
    padding: 5%;
  }

  .menu_ending {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    flex-wrap: wrap;
  }
}

/* === max-width: 480px === */
@media (max-width: 480px) {
  #vision_container h1 {
    font-size: 1.2rem;
  }

  #vision_container p {
    font-size: 0.9rem;
  }

  #unsere_werte_text_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}

/* === Media Queries End === */